<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <script>
        function deleteUser(index) {
            var formId = 'deleteForm' + index;
            var form = document.getElementById(formId);
            if (confirm('Bạn có chắc chắn muốn xóa người dùng này không?')) {
                form.submit();
            }
        }
    </script>
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/user-order" class="active">User</a>
        <a href="/bill-order">Bill</a>
    </div>

    <div class="w3-container">
        <h2>Khách hàng</h2>

        <table class="w3-table-all w3-hoverable">
            <thead>
                <tr class="w3-light-grey">
                    <th>Mã khách hàng</th>
                    <th>Họ tên khách hàng</th>
                    <th>Số điện thoại</th>
                    <th>Địa chỉ chi tiết</th>
                    <th>Tài khoản</th>
                    <th>Chức năng</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i=0; i < dataUsers.length; i++) { %>
                    <tr>
                        <td>
                            <%= dataUsers[i].maKH %>
                        </td>
                        <td>
                            <%= dataUsers[i].hotenKH %>
                        </td>
                        <td>
                            <%= dataUsers[i].sdt %>
                        </td>
                        <td>
                            <%= dataUsers[i].diachi %>
                        </td>
                        <td>
                            <%= dataUsers[i].taikhoan %>
                        </td>
                        <td style="display: flex">
                            <form id="deleteForm<%= i %>" action="/delete-user" method="post">
                                <input type="text" hidden value="<%= dataUsers[i].maKH %>" name="idUser" />
                                <button type="button" onclick="deleteUser('<%= i %>')">Xóa</button>
                            </form>
                        </td>
                    </tr>
                    <% } %>

            </tbody>
        </table>
    </div>
</body>

</html>